
**/nbproject/private/
**/nbproject/private.properties
**/nbproject/private.xml

**/build/
**/dist/

*.iml
.idea/
*.vscode/

.DS_Store
Thumbs.db

*.log
*.tmp
*.bak
*.swp
*.~*~

!**/nbproject/project.xml